<%- include('partials/header') %>
    <%- include('partials/navbar') %>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>
                        <%= title %>
                    </h1>
                    <p>Witaj na stronie głównej</p>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>