<!DOCTYPE html>
<html>
    <head>
        <title>Tytuły</title>
    </head>
    <body>
        <h1>Tytuły:</h1>
        <ul>
            <% for(var i = 0; i < titles.length; i++) { %>
                <li><%= titles[i] %></li>
            <% } %>
        <form action="/titles/" method="post">
            <label for="title">Title: </label>
            <input type="text" name="title" id="title" placeholder="Title...">
            <input type="submit" value="Submit">
        </form>

    </body>
</html>